@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

/* font-family: 'Nunito', sans-serif; */

$main-yellow-background:#F5CD6B;
$yellow: #F3C552;
$yellow-darker: #DAA520;
$rosa-accent: #F9BDBD;
$font-color: #3E3F43;
$font-color-light: #8D8D8D;
$font-color-dark: #000000;
$font-color-head: #313235;
$font-color-white: #FFFFFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
}

/* ---------Nav--------------------------- */
#hero {
   padding-top: 2%;
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        li {
            a {
                text-decoration: none;
                color: $font-color;
            }
            a:active, a:focus, a:hover {
                color: $yellow-darker;
            }
            
            .firstLink {
                margin-left: 100px;
            }
            .signUp {
                border: 1px solid $font-color;
                border-radius: 5px;
                padding: 5px 20px;
                font-weight: bold;
                background: $rosa-accent;
            }
        }
        
    }
}
/* -----------Home ------------------------ */
#backgroundHome {
    padding: 4%;
    background: $main-yellow-background;
    #woodFurniture {
        margin: 5%;
        background: white;
        border-radius: 20px;
        box-shadow: 0 0 20px $font-color-light;
        min-height: 97vh;
        #homeHeader {
            background: url(../img/page1_table_complete.png) right / 58.5%  no-repeat ;
            min-height: 90vh;
        }
        #mainArticle {
            #articleWood {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 7%;
                width: 50%;
                padding-top: 15%;
                h3 {
                    font-size: 2rem;
                    font-weight: 400;
                    span {
                        font-weight: bold;
                    }
                }
                h1 {
                    font-size: 4rem;
                    padding: 2% 0 3%;
                }
                input {
                    background: $yellow-darker;
                    color: $font-color-white;
                    outline-style: none;
                    border-style: none;
                    padding: 15px 30px;
                    border-radius: 2px;
                }
            }
            
        }
    }
}

/* ----- */